// form.scss
.form-container {
  max-width: 768px;
  margin: 0 auto;
  padding: 15px;
  margin-top: 80px;
  background-color: #fff;
}

.form-group {
  margin-bottom: 24px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: var(--main-color-dark);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 24px;
}

button:hover {
  opacity: 0.8;
}

.error {
  border: 1.3px solid red;
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.error-message {
  color: red;
  margin-top: 10px;
  font-size: 0.9em;
}

.login-guide-toggle {
  text-align: right;
  margin-bottom: 0.5rem;

  button {
    background: none;
    border: none;
    color: #4b3c30;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 3px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.login-guide {
  width: 80%;
  margin: 0 auto 1.5rem auto;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1.5rem;
  font-size: 0.95rem;

  code {
    background-color: #eee;
    padding: 2px 6px;
    border-radius: 4px;
    font-family: monospace;
  }

  .small-text {
    color: #666;
    font-size: 0.85rem;
    margin-top: 0.5rem;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
}
